.newButtons {
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #037fff, #47a3ff);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  /* padding: 10px; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}

.newButtons:hover {
  background: linear-gradient(to right, #9c27b0, #e040fb);
  /* background-color: aqua; */
  /* transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms; */
}

h5 {
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #037fff;
    cursor: pointer;
  }
}

.portfolio {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  transition: 0.3s;
}

li {
  text-decoration: none;
  list-style: none;
}

.image-data img {
  padding: 2rem;
}

.image-data {
  padding-bottom: 1rem;
  background-color: #161925;
  box-shadow: inset 5em 1em #383e52;
  transition: 0.3s;
}

.image-data:hover {
  background-color: #47a3ff;
  box-shadow: inset 5em 1em #47a3ff;
  color: #161925;
}
