/* body {
  font-family: "Roboto", sans-serif;
  background-color: #030416;
  color: #fff;
}

.header-img {
  width: 100%;
  height: 120px;

  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-color: #008ee2;
}

.containerForHeader {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 16px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 50px;
}

nav {
  text-align: center;
}

.aboutHeader {
  position: absolute;
  right: 33px;
  bottom: 7px;
}

h3 {
  color: white;
}

.centerStage {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  font-family: "Roboto", sans-serif;
  color: white;
}

a {
  font-family: "Roboto", sans-serif;
  color: #00efe1;
}

#links {
  border: 2px solid black;
  margin: 10px 75px;
  padding: 10px 50px;
  display: flex;
  background: #4895ef;
  box-shadow: 10px 5px 5px grey;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
} */
